#messy_desk{ 
    background-image: url('../images/bg1_normal.png');
    width:352px;
    height: 338px;
    margin-left: 70px;
    margin-top: 30px;
    cursor: pointer;
    
}

#tidy_desk{ 
    background-image: url('../images/bg2_normal.png');
    width:352px;
    height: 338px;
    margin-left: 520px;
    margin-top: -338px;
    cursor: pointer;
    
}

#instruction_text{
    margin-top: 30px;
    font-size: 13pt;
    font-family: Avenir Next LT Pro Regular;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#instruction_text99{
    font-size: 13pt;
    font-family: Avenir Next LT Pro Regular;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
	position:absolute;
	top:510px;
}
P{font-family: Avenir Next LT Pro Regular; padding-left: 15px; width: 310px; }

.selected{ opacity: 0.2;}
.header_text{ font-family: Avenir Next LT Pro Regular; font-size: 15pt; padding-top:5px; padding-bottom: 5px; border-bottom: 2px solid #cc0000; width: 310px; margin-left: 15px; color:#000000;}
#content_text{ margin: -35% 8%; display: none;  width:310px; height: 338px}
#content_text1{ margin: -34.5% 55%; display: none; width:310px ; height: 338px;}
