#page1_bord{
	margin-left:744px;
	margin-top:18px;
	overflow:hidden;
	height:500px;
	width:462px;
        position: absolute;
	background-position:bottom;
}

#ContentText{
	width: 785px;
	height: 400px;
	margin-left:-83px;
	margin-top:-20px;
	text-align: left;
	font-family: Avenir Next LT Pro Regular;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12pt;
	color:#000000;
	overflow: hidden;
        line-height: 1.4;
	}
        
	
.animate { display:none;}        
#instruction_text{ font-size: 14pt; font-family: Avenir Next LT Pro Regular; font-weight: normal; margin-top: 65px; margin-left: 85px;}