#page1_bord{
	margin-left:550px;
	margin-top:210px;
	overflow:hidden;
	height:500px;
	width:462px;
    position: absolute;
}

#ContentText{
	width: 785px;
	height: 400px;
	margin-left:-83px;
	margin-top:0px;
	text-align: left;
	font-family: Avenir Next LT Pro Regular;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12pt;
	color:#000000;
	overflow: hidden;
    line-height: 1.4;
	}
        
#footer_text{ text-align: center; background-color: #f2982e; font-size: 13pt; font-family: Avenir Next LT Pro Regular; font-weight: normal; margin-top:-95px; width: 53%; padding: 15px; }	
.animate { display:none;}        
#instruction_text{ font-size: 13pt; font-family: Avenir Next LT Pro Regular; font-weight: normal; margin-top: 20px; width: 100%;}